#nav-bar {
    background: #00a087;
    height: 80px;
    top: 0px;
    position: fixed;
    width: 100%;
    padding-left: 2em;
    padding-right: 2em;
    z-index: 99999
}

#nav-bar .header {
    line-height: 80px;
    font-size: 40px;
    margin: auto;
    vertical-align: top;
    color: #e8fdff
}



#nav-bar .logo {
    width: 80px;
    height: 80px;
    padding-right: 10px;
}

#nav-bar #composeBut {
    float: right;
    margin-top: 0.5%;
    width: 12%;
    height: 81%;
    border-radius: 12px;
    font-size: 171%;
    font-weight: 300;
    opacity: 0.6;
    transition: 0.3s;
}

#nav-bar #composeBut:hover {
    opacity: 1
}