#newTweet {

    background: #AAA;
    width: 84%;
    height: 50%;
    border-radius: 4px;
    margin: auto;
    border: 2px solid gray;
}

h2 {
    margin-left: 4%;
    border-bottom: 1px solid;
    margin-right: 6%;


}

#newTweet .counter {
    float: right;
    padding-right: 6%;
}

#newTweet .textfield {
    width: 92%;
    padding-left: 0.5em;
    margin-left: 4%;
}

input {
    border-radius: 4px;
    padding-left: 5px;
    margin-left: 4%;
}

/* .tweets {
    background: #AAA;
    /* width: 84%; */
/* height: 71%;
    border-radius: 4px;
    margin: auto;
    border: 2px solid gray; */
/* } */

.tweet {
    width: 84%;
    height: 166px;
    background: white;
    border-radius: 4px;
    margin: auto;
    border: 2px solid gray;
    margin-top: 4px;
    opacity: 0.6;
    transition: 0.3s;
}

.tweet .tweetHeader {
    text-align: end;
    display: block;
    height: 63px;
    background: lightgray;
    border-bottom: 1px solid grey;
    padding-right: 6px;
    padding-top: 4px;
}

.tweet .name {
    float: left;
    margin-left: 2px;
}

.tweet .handle {

    color: darkslategray;
    float: right;
}

.tweet footer {

    border-top: 1px solid grey;
    height: 0%;
    padding-left: 2%;
    margin-top: 4px;
    color: darkslategray;
    font-weight: 300;
}




.tweet .displayImg {
    width: 50px;
    height: 50px;
    border-radius: 20%;
    float: left;
    padding-left: 0%;
    margin-left: 2%;
}

.tweet .tweetBody {
    height: 25%;
    padding-left: 2%;
}


.tweet:hover {
    opacity: 1
        /* transition: 0.3s; */
}